body {
    margin: 0;
    background-color: #ffd8bb;
}

button, a{
    cursor:pointer;
}

/* Barra superior */

#barraSuperior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ff751f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    z-index: 1000;
}

#barraSuperior img {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

#hrefs{
    display: flex;
    gap: 30px;
}

#barraSuperior a {
    text-decoration: none;
    color: black;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 22px;
    margin-right: 20px;
}

/* Pantalla principal */

#paginaPrincipal{
    
    margin-top: 360px;
    margin-left: 300px;

    /* Arreglar fondo */

    background-image: url("imagenes/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh; 
    width: 100%;

}

#paginaPrincipal h1 {
    
    font-size: 90px;
    color: black;
    margin-bottom: 10px;
    font-family: 'Chau Philomene One', sans-serif;
}

#paginaPrincipal button {
    font-size: 60px;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: transparent;
    color: #ff914d;
    border: none;
}

/* Registro */

#seccionRegistro{
    text-align: center;
    margin-top: 200px;
}

#seccionRegistro h1 {
    font-size: 60px;
    font-family: 'Chau Philomene One', sans-serif;
    margin-bottom: 20px;
}

.registro {
    width: 520px;
    background-color: #ff7722;
    padding: 35px;
    border-radius: 25px;
    margin: auto;
    text-align: left;
    box-shadow: 15px 15px 0px black;
}

.registro p {
    font-size: 22px;
    font-family: 'Arimo', sans-serif;
    margin-bottom: 12px;
}

.registro input {
    width: 96%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: #d7ded8;
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 22px;
    font-family: 'Open Sans', sans-serif;
}

#seccionRegistro button {
    font-size: 60px;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: transparent;
    color: #ff914d;
    border: none;
    display: block;
    margin: 35px auto;
}

/* Inicio de sesión */

#seccionInicioSesion{
    text-align: center;
    margin-top: 200px;
}

#seccionInicioSesion h1 {
    font-size: 60px;
    font-family: 'Chau Philomene One', sans-serif;
    margin-bottom: 20px;
}

.login {
    width: 520px;
    background-color: #ff7722;
    padding: 35px;
    border-radius: 25px;
    margin: auto;
    text-align: left;
    box-shadow: 15px 15px 0px black;
}

.login p {
    font-size: 22px;
    font-family: 'Arimo', sans-serif;
    margin-bottom: 12px;
}

.login input {
    width: 96%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: #d7ded8;
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 22px;
    font-family: 'Open Sans', sans-serif;
}

#botonInicioSesion {
    font-size: 60px;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: transparent;
    color: #ff914d;
    border: none;
    border-radius: 12px;
    align-items: center;
    margin-top: 50px;
}

/* Pantalla home */

#home button {
    font-size: 60px;
    margin: 100px;
    font-family: 'Pixelify sans', sans-serif;
    background-color: transparent;
    color: #ff914d;
    border: none;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

/* Pantalla juego */
#seccionJuego {
    margin-top: 100px;
    padding: 20px;
    align-items: center;
}

#seccionJuego button {
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    cursor: pointer;
}

#botonPasapalabra{
    background-color: #f1da0a;
    border: none;
    border-radius: 12px;
    padding: 5px;
}

#botonEnviar{
    background-color: #5ead3c;
    border: none;
    border-radius: 12px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #ff77005b;
    border-radius: 25px;
    padding: 10px, 20px;
    border: 2px solid ff7722;
}


/* Pantalla admin */
#seccionAdmin {
    margin-top: 100px;
    padding: 20px;
}

#letras {
    position: relative;
    width: 500px;
    height: 500px;
}

#letras p {
    margin: 0;  /* el <p> que envuelve los spans no debe empujar nada */
}

.letra {
    position: absolute;
}

